<!-- templates/admin/dashboard.html -->
{% extends "admin/base_site.html" %}

{% block content %}
<div class="dashboard">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">User Count</div>
                <div class="panel-body">{{ user_count }}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Course Count</div>
                <div class="panel-body">{{ course_count }}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Pending Enrollments</div>
                <div class="panel-body">{{ pending_enrollments }}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Recent Articles</div>
                <div class="panel-body">
                    <ul>
                        {% for article in recent_articles %}
                        <li>{{ article.title }} ({{ article.date }})</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
