{% extends "gateway.html" %}
{% load static %}
{% block content %}
<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-userset">
                    <div class="login-logo">
                        <img src="{% static '/img/logo.png' %}" alt="img">
                    </div>
                    <div class="login-userheading">
                        <h3>Forgot password?</h3>
                        <h4>Don’t warry! it happens. Please enter the address <br>associated with your account.</h4>
                    </div>
                    <!-- {% if messages %}
                    <div class="form-login">
                        {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %} -->
                    <form method="post" action="{% url 'forget-password' %}">
                        {% csrf_token %}
                        <div class="form-login">
                            <label>Email</label>
                            <div class="form-addons">
                                <input type="text" name="email" placeholder="Enter your email address">
                                <img src="{% static '/img/icons/mail.svg' %}" alt="img">
                            </div>
                        </div>
                        
                        <div class="form-login">
                            <button type="submit" class="btn btn-login">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="login-img">
                <img src="{% static '/img/bg.svg' %}" alt="img">
            </div>
       </div>
    </div>
</div>
{% endblock %}
